<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Home</title>
  </head>
  <body>
    <div>
      {{>menu}}
      <div>
      </div>
      <ul>
        <li>
          <h4>{{title}}</h4>
          <p>{{body}}</p>
          <div>
            <form action="/update-post" method="POST">
              <input type="text" name="title" value="{{title}}"/>
              <input type="text" name="body" value="{{body}}"/>
              <input type="hidden" name="postID" value="{{postid}}"/>
              <button type="submit">Update Post</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
