<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Home</title>
  </head>
  <body>
    <div>
      {{>menu}}
      <div>
      </div>
      <ul>
        {{#posts}}
        <li>
          <h4>{{title}}</h4>
          <p>{{body}}</p>
          <span>{{to_char}} - {{timepublished}}</span>
          <div>
            <form action="/update-post" method="POST">
              <input type="hidden" name="updateid" value="{{postid}}"/>
              <button type="submit">Update Post</button>
            </form>
          </div>
        </li>
        {{/posts}}
      </ul>
    </div>
  </body>
</html>
